<a href="https://colab.research.google.com/github/ANKITA4545/Assignment-1-data-science-/blob/main/pdf10_(complexity).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
integer_to_match = 13
list_to_search = [1,3,5,8,12,13,15,16,18,20,22,30,40,50,55,67]

c=0
for i in range(len(list_to_search)):
    if integer_to_match==list_to_search[i]:
      print("Match foung at index: ", i)
      break
    c+=1
    print(c)

1
2
3
4
5
Match foung at index:  5

In [3]:
list_to_search.index(integer_to_match)

5

In [4]:
list_to_search.index(integer_to_match)

5

In [5]:
from re import L
list_to_search.sort()
print(list_to_search)
l=0
r=len(list_to_search)-1
c=0
while l<r:
  m=(l+r)//2
  if list_to_search[m]==integer_to_match:
    print("Match found at index: ", m)
    break
  elif list_to_search[m]<integer_to_match:
    l=m+1
  else:
    r=m

[1, 3, 5, 8, 12, 13, 15, 16, 18, 20, 22, 30, 40, 50, 55, 67]
Match found at index:  5

In [18]:
def binary_search(arr,low,high, x):
  c=0
  if high >= low:
    mid = (high+low)//2
    integer_to_match = 13
    list_to_search = [1,3,5,8,12,13,15,16,18,20,22,30,40,50,55,67]
    result = binary_search(list_to_search, 0, len(list_to_search)-1, integer_to_match)


    print("Match found at index", str(result))

In [19]:
print(list_to_search[5]==integer_to_match)

True

In [20]:
list_to_sum = [1,2,3,4,5,6,7]

sum = 0
for i in range(len(list_to_sum)):
  sum+=list_to_sum[i]
print(sum)

28

In [25]:
sum = []
c=0

for i in range(len(list_to_sum)):
 if i==0:
  sum.append(list_to_sum[i])

else:
 sum.append(sum[-1] + list_to_sum[i])

c+=1
print(c)

1

In [26]:
sum[-1]

8

In [27]:
A = [1,11,4,9,16,2,23,45,77,15]
B = [51,29,82,32,67,5,2,22,78,98]
areas = []
c=0
for a in A:
  for b in B:
    areas.append(a*b)
    c+=1
    print(c)
areas.sort()
print(areas)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
[2, 4, 5, 8, 10, 18, 20, 22, 22, 29, 30, 32, 32, 44, 45, 46, 51, 55, 58, 64, 67, 75, 78, 80, 82, 88, 90, 98, 102, 115, 116, 128, 134, 154, 156, 164, 196, 198, 204, 225, 242, 261, 268, 288, 312, 319, 328, 330, 352, 352, 385, 392, 435, 459, 464, 480, 506, 512, 561, 603, 667, 702, 736, 737, 738, 765, 816, 858, 882, 902, 990, 1005, 1072, 1078, 1170, 1173, 1230, 1248, 1305, 1312, 1440, 1470, 1541, 1568, 1694, 1794, 1886, 2233, 2254, 2295, 2464, 3015, 3510, 3690, 3927, 4410, 5159, 6006, 6314, 7546]

In [28]:
max_area = 0
for area in areas:
  if area>max_area:
    max_area = area
print(max_area)

7546

In [29]:
len(areas)

100

In [30]:
max_area

7546

In [38]:
from sre_compile import AT_END
A = [1,11,4,9,16,2,23,45,77,15]
B = [51,29,82,32,67,5,2,22,78,98]
e=0
max_a = 0
for a in A:
 if a>max_a:
    max_a=a
    e+=1
 max_b = 0
for b in B:
    if b>max_b:
      max_b=b
    e+=1

    print(e)

7
8
9
10
11
12
13
14
15
16

In [39]:
max_a * max_b

7546