<a href="https://colab.research.google.com/github/ANKITA4545/Assignment-1-data-science-/blob/main/pdf7(comprehensions%3F).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list_of_numbers = [1,2,4,6,11,14,17,20]
squared_numbers = []
for number in list_of_numbers:
  squared_numbers.append(number**2)
  print(f"The of squared number is{squared_numbers}")

The of squared number is[1]
The of squared number is[1, 4]
The of squared number is[1, 4, 16]
The of squared number is[1, 4, 16, 36]
The of squared number is[1, 4, 16, 36, 121]
The of squared number is[1, 4, 16, 36, 121, 196]
The of squared number is[1, 4, 16, 36, 121, 196, 289]
The of squared number is[1, 4, 16, 36, 121, 196, 289, 400]

In [ ]:
squared_numbers = [number**2 for number in list_of_numbers]
print(squared_numbers)

[1, 4, 16, 36, 121, 196, 289, 400]

In [ ]:
print(list_of_numbers)

[1, 2, 4, 6, 11, 14, 17, 20]

In [ ]:
even_squared_numbers = [number**2 for number in list_of_numbers if number%2==0]
print(even_squared_numbers)

[4, 16, 36, 196, 400]

In [ ]:
odd_squared_number = [number**2 for number in list_of_number if number%2!=0 else number**3]
print(new_numbers)

SyntaxError: invalid syntax (<ipython-input-6-c23f08491d93>, line 1)

In [ ]:
odd_squared_numbers = [number**2 if number%2!=0 else number**3 for number in list_of_numbers]
print(odd_squared_numbers)

[1, 8, 64, 216, 121, 2744, 289, 8000]

In [ ]:
list(range(4))

[0, 1, 2, 3]

In [ ]:
list_of_numbers = []
for num1 in range(4):
  for num2 in range(3):
    print(num1,num2)
    list_of_numbers.append(num2)
    print(list_of_numbers)

0 0
[0]
0 1
[0, 1]
0 2
[0, 1, 2]
1 0
[0, 1, 2, 0]
1 1
[0, 1, 2, 0, 1]
1 2
[0, 1, 2, 0, 1, 2]
2 0
[0, 1, 2, 0, 1, 2, 0]
2 1
[0, 1, 2, 0, 1, 2, 0, 1]
2 2
[0, 1, 2, 0, 1, 2, 0, 1, 2]
3 0
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0]
3 1
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1]
3 2
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [ ]:
list_of_numbers = [num2 for num1 in range(4) for num2 in range(4)]
print(list_of_numbers)

[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [ ]:
sample = [[]]
len(sample)
sample[0]

[]

In [ ]:
list_of_lists = []
for num1 in range(4):
  list_of_lists.append([])
for num2 in range(3):
  list_of_lists[num1].append(num2)
  print(list_of_lists)

[[], [], [], [0]]
[[], [], [], [0, 1]]
[[], [], [], [0, 1, 2]]

In [ ]:
list_of_lists = [[num2 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [ ]:
list_of_lists = [[num1 for num2 in range(3)] for num1 in range(4)]
print(list_of_lists)

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [ ]:
heisenberg_quote = "It ceases to exist without me. No,you clearly don't know who you're talking to, so let me clue you in. I am not in dang"
words_by_walter = heisenberg_quote.split(' ')
print(words_by_walter)

['It', 'ceases', 'to', 'exist', 'without', 'me.', 'No,you', 'clearly', "don't", 'know', 'who', "you're", 'talking', 'to,', 'so', 'let', 'me', 'clue', 'you', 'in.', 'I', 'am', 'not', 'in', 'dang']

In [ ]:
heisenberg_quote.split('t')

['I',
 ' ceases ',
 'o exis',
 ' wi',
 'hou',
 " me. No,you clearly don'",
 " know who you're ",
 'alking ',
 'o, so le',
 ' me clue you in. I am no',
 ' in dang']

In [ ]:
first_letters = []
for word in 'word_by_walter':
  first_letters.append(word[0])
print(first_letters)

['w', 'o', 'r', 'd', '_', 'b', 'y', '_', 'w', 'a', 'l', 't', 'e', 'r']

In [ ]:
first_letters = [word[0] for word in  words_by_walter]
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm', 'N', 'c', 'd', 'k', 'w', 'y', 't', 't', 's', 'l', 'm', 'c', 'y', 'i', 'I', 'a', 'n', 'i', 'd']

In [ ]:
heisenberg_quote.split(',')

['It ceases to exist without me. No',
 "you clearly don't know who you're talking to",
 ' so let me clue you in. I am not in dang']

In [ ]:
my_string = 'Alphabet Inc.'
list_of_characters = [char for char in my_string]
print(list_of_characters)

['A', 'l', 'p', 'h', 'a', 'b', 'e', 't', ' ', 'I', 'n', 'c', '.']

In [ ]:
days = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')
tuple(day for day in days)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [ ]:
days_without_day = tuple([day[:-3] for day in days])
print(days_without_day)

('Mon', 'Tues', 'Wednes', 'Thurs', 'Fri', 'Satur', 'Sun')

In [ ]:
first_letters = set()
for word in words_by_walter:
  first_letters.add(word[0])
  print(first_letters)

{'I'}
{'c', 'I'}
{'c', 'I', 't'}
{'c', 'I', 't', 'e'}
{'c', 'w', 't', 'e', 'I'}
{'c', 'm', 'w', 't', 'e', 'I'}
{'c', 'm', 'w', 't', 'e', 'N', 'I'}
{'c', 'm', 'w', 't', 'e', 'N', 'I'}
{'c', 'm', 'w', 't', 'd', 'e', 'N', 'I'}
{'c', 'm', 'w', 't', 'k', 'd', 'e', 'N', 'I'}
{'c', 'm', 'w', 't', 'k', 'd', 'e', 'N', 'I'}
{'c', 'm', 'w', 't', 'k', 'd', 'e', 'N', 'y', 'I'}
{'c', 'm', 'w', 't', 'k', 'd', 'e', 'N', 'y', 'I'}
{'c', 'm', 'w', 't', 'k', 'd', 'e', 'N', 'y', 'I'}
{'c', 'm', 's', 'w', 't', 'k', 'd', 'e', 'N', 'y', 'I'}
{'c', 'm', 's', 'w', 'l', 't', 'k', 'd', 'e', 'N', 'y', 'I'}
{'c', 'm', 's', 'w', 'l', 't', 'k', 'd', 'e', 'N', 'y', 'I'}
{'c', 'm', 's', 'w', 'l', 't', 'k', 'd', 'e', 'N', 'y', 'I'}
{'c', 'm', 's', 'w', 'l', 't', 'k', 'd', 'e', 'N', 'y', 'I'}
{'c', 'm', 's', 'w', 'l', 't', 'k', 'd', 'e', 'N', 'y', 'i', 'I'}
{'c', 'm', 's', 'w', 'l', 't', 'k', 'd', 'e', 'N', 'y', 'i', 'I'}
{'c', 'm', 's', 'w', 'a', 'l', 't', 'k', 'd', 'e', 'N', 'y', 'i', 'I'}
{'c', 'm', 's', 'w', 'a', 'l', 't', 'k', 'd', 'e', 'N', 'n', 'y', 'i', 'I'}
{'c', 'm', 's', 'w', 'a', 'l', 't', 'k', 'd', 'e', 'N', 'n', 'y', 'i', 'I'}
{'c', 'm', 's', 'w', 'a', 'l', 't', 'k', 'd', 'e', 'N', 'n', 'y', 'i', 'I'}

In [ ]:
first_letters = {word[0] for word in words_by_walter}
print(first_letters)

{'c', 'm', 's', 'w', 'a', 'l', 't', 'k', 'd', 'e', 'N', 'n', 'y', 'i', 'I'}

In [ ]:
country_city_list = [('India','New Delhi',),('Australia','Canberra'),('United States','Washigton DC'),('England','London')]
country_city_dict = dict(country_city_list)
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washigton DC', 'England': 'London'}

In [ ]:
flipped = {}
for country,city in country_city_dict.items():
  flipped[city] = country
  print(flipped)

{'New Delhi': 'India'}
{'New Delhi': 'India', 'Canberra': 'Australia'}
{'New Delhi': 'India', 'Canberra': 'Australia', 'Washigton DC': 'United States'}
{'New Delhi': 'India', 'Canberra': 'Australia', 'Washigton DC': 'United States', 'London': 'England'}

In [ ]:
flipped = {city:country for country, city in country_city_dict.items()}
print(flipped)

{'New Delhi': 'India', 'Canberra': 'Australia', 'Washigton DC': 'United States', 'London': 'England'}

In [ ]:
flipped = {city : country for country, city  in country_city_dict.items() if country[0] in ['E','A']}
print(flipped)

{'Canberra': 'Australia', 'London': 'England'}

In [ ]:
flipped = {country[:2] : city[-2:] for country,city in country_city_dict.items()}
print(flipped)

{'In': 'hi', 'Au': 'ra', 'Un': 'DC', 'En': 'on'}

In [ ]:
print(country_city_dict)

{'India': 'New Delhi', 'Australia': 'Canberra', 'United States': 'Washigton DC', 'England': 'London'}