<a href="https://colab.research.google.com/github/ANKITA4545/Assignment-1-data-science-/blob/main/pdf8_(function).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
heisenberg_quote = "It ceases to exist without me."
words_by_walter = heisenberg_quote.split(' ')
first_letters = [word[0] for word in words_by_walter]
print(first_letters)

['I', 'c', 't', 'e', 'w', 'm']

In [ ]:
heisenberg_quote = "It ceases to exist without me."
words_by_walter = heisenberg_quote.split(' ')
first_letters = [word[0] for word in words_by_walter]
print(first_letters)


def extract_first_letters(sentence):
  '''
  This function takes a sentence as an input and returns
  the list of first letters of each word
  '''
  words_in_sentence = sentence.split(' ')
  first_letters = [word[0] for word in words_in_sentence]
  # Moved print statement before the return to be executed
  print(extract_first_letters(heisenberg_quote))
  return first_letters

['I', 'c', 't', 'e', 'w', 'm']

In [ ]:
first_letters_heisenberg = extract_first_letters(heisenberg_quote)
print(first_letters_heisenberg)

['I', 'c', 't', 'e', 'w', 'm']

In [ ]:
starwars_quote = "May the force be with you."
first_letters_starwars = extract_first_letters(starwars_quote)
print(first_letters_starwars)

['M', 't', 'f', 'b', 'w', 'y']

In [ ]:
def factorial(num):
  '''
  Function for calculating factorial of a number
  '''
  result = 1
  if num < 0:
    print("Factorial is not defined for negative numbers.")
  elif num > 0:
      for i in range(1, num + 1):
        result *= i
        print(f"The factorial of {num} is {result}.")
      else:
          result=1
          print('factorial of 0 is ',result)

In [ ]:
factorial(9)

The factorial of 9 is 1.
The factorial of 9 is 2.
The factorial of 9 is 6.
The factorial of 9 is 24.
The factorial of 9 is 120.
The factorial of 9 is 720.
The factorial of 9 is 5040.
The factorial of 9 is 40320.
The factorial of 9 is 362880.
factorial of 0 is  1

In [ ]:
list_of_numbers = [3,5,8,12,4,6]
factorial_list = [factorial(number) for number in list_of_numbers if number %2!=0]
print(factorial_list)

The factorial of 3 is 1.
The factorial of 3 is 2.
The factorial of 3 is 6.
factorial of 0 is  1
The factorial of 5 is 1.
The factorial of 5 is 2.
The factorial of 5 is 6.
The factorial of 5 is 24.
The factorial of 5 is 120.
factorial of 0 is  1
[None, None]

In [ ]:
def assignQuarter(user_date):
  '''
  This function prints the quarter for given date string
  '''
  date_year = user_date[:4]
  date_month = user_date[5:7]

  if (date_month >= '01') & (date_month <= '03'):
    quarter = date_year + '-Q1'
  elif (date_month >= '04') & (date_month <= '06'):
      quarter = date_year + '-Q2'
  elif (date_month >= '07') & (date_month <= '09'):
        quarter = date_year + '-Q3'
  else:
          quarter = date_year + '-Q4'
  # Moved the print statement inside the function to access user_date
  print(f'The corresponding quarter for the date {user_date} is {quarter}')
  # Return the calculated quarter
  return quarter

sample_date = '2020-07-01'
date_quarter = assignQuarter(sample_date)
print(date_quarter)

The corresponding quarter for the date 2020-07-01 is 2020-Q3
2020-Q3

In [ ]:
my_quarter = assignQuarter(sample_date)

The corresponding quarter for the date 2020-07-01 is 2020-Q3

In [ ]:
print(my_quarter)

2020-Q3

In [ ]:
def check_even_odd(num):
  '''
  This function checks whether a number is even or odd or even and returns the corresponding string
  '''
  print(f'Given number is {num}')
  if num%2 == 0:
    return 'even'

    return 'odd'

    is_even_odd = check_even_or_odd(10)
    print(is_even_odd)

In [ ]:
def list_append(my_list, elem):
  '''
  This function appenda an element to the list
  '''
  new_list = my_list + [elem]
  return new_list

my_list = [1,2,3]
new_list = list_append(my_list, 4)
print(new_list)

[1, 2, 3, 4]

In [ ]:
heights = [161, 164, 156, 144, 158, 170, 163, 163, 153]

In [ ]:
print(heights)

[161, 164, 156, 144, 158, 170, 163, 163, 153]

In [ ]:
list_append(heights,190)

[161, 164, 156, 144, 158, 170, 163, 163, 153, 190]

In [ ]:
print(heights)

[161, 164, 156, 144, 158, 170, 163, 163, 153]

In [ ]:
list_append(heights,190)

[161, 164, 156, 144, 158, 170, 163, 163, 153, 190]

In [ ]:
print(heights)

[161, 164, 156, 144, 158, 170, 163, 163, 153]

In [ ]:
heights.append(60)
print(heights)

[161, 164, 156, 144, 158, 170, 163, 163, 153, 60, 60, 60, 60]

In [ ]:
def experimnent():
  global X
  X = 50
  return X

X = 25
experimnent()

50

In [ ]:
experimnent()

50

In [ ]:
X

50

In [ ]:
def new_expriment():
  x = 50
  return x

x = 40
x

40

In [ ]:
new_expriment()

50