<a href="https://colab.research.google.com/github/ANKITA4545/Assignment-1-data-science-/blob/main/pdf_4(condition).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = 4
print(1+1)
print(len("Hello Team almabetter"))

2
21

In [2]:
y = 3.14
y

3.14

In [3]:
a = 'Mighty'
a == 'Mighty'

True

In [4]:
import pandas as pd
print(y)

3.14

In [5]:
y

3.14

In [6]:
x = 1
y = 2
z = 3
y

2

In [7]:
a = 1+2+3+4+5+34+5+4
a

58

In [8]:
my_list = [1]
my_tuple = (1,)
my_list,my_tuple

([1], (1,))

In [11]:
a = (1+2+3+4+4+5+5,)

In [12]:
type(a)

tuple

In [14]:
a = 1
b = 2
colors = 'set theory is the mathematiofja; a;f a;sldkf'
colors

'set theory is the mathematiofja; a;f a;sldkf'

In [15]:
a = 1
b = 2
c = 3
a = 1 ; b = 2 ; c = 3
c

3

In [17]:
a, b, c = [1,'a',True],(45,67),{'Name' : 'Vikash','Age' : 27}
a

[1, 'a', True]

In [18]:
b

(45, 67)

In [19]:
c

{'Name': 'Vikash', 'Age': 27}

In [20]:
a, b = b, a
a

(45, 67)

In [21]:
b

[1, 'a', True]

In [22]:
print('Hello')

Hello

In [23]:
a = 3
print(a)

3

In [25]:
a = 2
b = 1
a

2

In [26]:
b

1

In [28]:
a, b = 1, 2
if a < b :

SyntaxError: incomplete input (<ipython-input-28-06006c88a994>, line 2)

conditional statement

In [32]:
i = 4
if i==2:
  print(2)
elif i==3:
    print(3)
else:
      print('not 2 and 3')

not 2 and 3

In [34]:
x = 30
if x == 30 :
  print('x is greater than 10!')
  print(f'x is {x}')

x is greater than 10!
x is 30

In [35]:
x == 20

False

In [37]:
if False:
  print('It was true!')

if False:
  print('It was true!')

  X = False
  y = True

if x:
  print('y was True!')
else:
  print('I will be printed in any case where x is not true')

y was True!

In [39]:
city = 'New Delhi'

if city == 'New Delhi':
  print('Welcome to the Indian Captial')
elif city == 'Mumbai':
  print('Welcome to the Financial Capital of India!')
else:
  print('Where are you?')

Welcome to the Indian Captial

In [41]:
person = 'ankita'
if person == 'anku':
   print(f'Welcome {person}!')
else:
  print("Welcome, what's your name?")

Welcome, what's your name?

In [43]:
number1 = -2
number2 = 9

if number1 > 0:
  if number2 < 10:
    print(number2 + number1)
  else:
    print("Should be a greater than 10")
elif number1 < 0:
    print("Ah, that's a negative number")
else:
    print("The number is zero!")

Ah, that's a negative number

truthy and falsy

In [44]:
if False:
  print("What do you say?")
else:
  print("I have nothing to say")

I have nothing to say

In [45]:
if [None]:
  print("Well I had a really bad day!")
else:
  print("Come on you aced your test.")

Well I had a really bad day!

In [46]:
if {1:2,3:4}:
  print("This is True")
else:
  print("This is False")

This is True